<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexus.nurseryteacher">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/login"
        android:label="@string/app_name"
        android:roundIcon="@drawable/login"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.RetrofitTestActivity"></activity>
        <activity android:name=".activity.AddChild" />
        <activity android:name=".activity.EditScheduleActivity" />
        <activity android:name=".activity.UpcomingEventActivity" />
        <activity android:name=".activity.EventsActivity" />
        <activity android:name=".activity.EditChildDataActivity" />
        <activity
            android:name=".activity.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.AddPostActivity" />
        <activity android:name=".activity.ChildProfileActivity" />
        <activity android:name=".activity.ClassDetailsActivity" />
    </application>

</manifest>